<header>
  <img
    src="assets/img/fotoMe130.jpeg"
    alt="Luiz Gustavo - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Luiz Gustavo</h1>
</header>

<aside>
  <div class="container">
    <strong><p>Desenvolvedor .NET | C# | ASP.NET  | JS | Angular | SQL | NOSQL</p></strong>
    <p>Magé, Rio de Janeiro, Brasil</p>
    <p>
      Desenvolvedor Backend com experiência no segmento financeiro/contábil, focado
      em C#, ASP.NET com experiência em JavaScript e Angular, prática com bancos de dados MongoDB e SQL Server
      <br/><br/>
      Sólida experiência no desenvolvimento de features e sustentação de plataformas
      usando CQRS, Mediator Pattern, Repository Pattern baseando-se em príncipios do SOLID, assegurando aplicações rápidas, estáveis e com menos bugs
      <br/><br/>
      Conhecimento em sistemas de mensageria como Azure Service Bus, Amazon SQS e
      Amazon SNS. Foco em entregar soluções de alta qualidade, com boa performance e aderência a
      boas práticas de arquitetura e desenvolvimento
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/gustavo-luiz-tech/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5521998208654&text=Ol%C3%A1%20Gustavo!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (21) 9 9820-8654</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:luizgustavorosa@outlook.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>luizgustavorosa&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
